.nav-link {
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .nav-link:hover {
    background-color: #007bff; 
    color: white; 
  }
  
  .navbar {
    margin-top: 2px;
    margin-bottom: 20px; 
  }
  