/* Styles for the navigation bar buttons */
.nav-link {
    border-radius: 15px; /* Rounded corners for buttons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for effects */
  }
  
  .nav-link:hover {
    background-color: #007bff; /* Change background color on hover */
    color: white; /* hover */
  }
  
  .navbar {
    margin-top: 2px;
    margin-bottom: 20px; /* Space below the navbar */
  }
  